<div class="small-6 columns small-centered columns">
  <div class="home-header">
    <%= image_tag("SpookyHouseHeader.jpg", height:"400", width:"400") %>
  </div>
  <div class="gameblock">
    <br>
    <h3> Join a game! </h3>
    <ul>
      <% @games.each do |game| %>
        <li>
          <%= link_to game.name, game_path(game) %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Create a new game", new_game_path(@game), class: "button small" %>
  </div>
</div>
