<div class="small-6 columns small-centered columns">
  <h2> Create a new game </h2>
  <%= form_for @game do |f| %>

    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.submit "Submit", class: "button tiny" %>
  <% end %>
</div>
