<div class="small-6 small-centered columns">
  <h1><%= @game.name %></h1>
</div>
<div class="small-6 columns">
  <div>
    <h2>Pick a character!</h2>
    <h3>
      <% @characters.each do |char| %>
      <%= link_to char.name, game_character_path(
          @game, char, character:{game_id: @game.id }
        ), method: :patch, class: "button small" %>
      <% end %>
    </h3>

  </div>
</div>
  <% if !@game.characters.nil? && !@game.characters.empty? %>
  <div class="small-6 columns">
    <div class="players">
    <h3>Current Players</h3>
    <% @game.characters.each do |char| %>
      <%= link_to char.name, character_path(char) %><br>
    <% end %>
  <% end %>
  </div>

  <div>
  </div>
</div>
