<div>
  <h1>Pick an explorer!</h1>
  <%= form_for @character do |f| %>
    <%= select("character", "name", @characters.collect {|c| [c.name, c.id]}) %>
    <%= f.submit "Submit", class: "button radius" %>
  <% end %>
  </h3>
</div>
