/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

body {
  background: image-url("background.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nine-columns li {
	width:calc(100% / 9);
}

.stat-labels li {
	color: #d3d3d3;
	display: inline;
	float:left;
	cursor: pointer;
}

.stat-labels li:hover {
  transition: all .1s ease-in;
  transform: scale(1.4);
  color: #DDE587;
}

.stat-labels li.active {
  transition: all .1s ease-in;
  transform: scale(1.4);
  color: #DDE587;
}

.character-pic {
  height: 300px;
  width: 300px;
}

$dropdown-inline-display: inline-block !important;
$dropdown-inline-width: 30% !important;

.home-header {
  background-image: image-url("SpookyHouseHeader.gif");
  background-position: no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.about {
  background:rgba(100,100,100,0.8);
  color: black;
  margin: 75px;
  padding: 10px;
}

.joingame {
  background-image: image-url("joinagame.gif");
  background-size: cover;
  height: 400px;
}

.gameblock {
  padding: 8% 0px;
  height: 150px;
  width: 150px;
}

div.gameblock:nth-child(even){
  background:rgba(0,0,0,0.5);
}

.players {
  background:rgba(0,0,0,0.5);
  margin-top: 50px;
  padding: 10px;
}
